flask
flask_sqlalchemy
flask_login
flask_mail
flask_ckeditor
flask_migrate
flask_admin
flask_wtf
dash
dash_bootstrap_components
dash_template_rendering
dash_daq
dash_ag_grid
dash_auth
plotly
pandas
pymysql
cryptography
mysql
datetime
itsdangerous
wtforms
sqlalchemy
numpy
celery

