.MPS_logo {
    margin-right: 20px
}

.container-fluid {
    height: 6vh;
}

.nav-link {
    font-size: 2.5vh
}

footer {
    position relative;
    bottom 0;
    left 0;
    width 100%;
    height: 6vh;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    font-size: 1.5vh;
}

.container {
    flex-direction: column;
    min-height: 100%;
}

.container-application{
    width: 100%;
    height: 100%;
}

.content {
    flex: 1;
}

body {
	background: #f4f4f4;
	height: 86.5vh;
}

.card-header {
    font-weight: bold
}

