apiVersion: apps/v1
kind: Deployment
metadata:
  name: emc-lab-application
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: emc-lab-application
  template:
    metadata:
      labels:
        app: emc-lab-application
    spec:
      containers:
      - name: emc-lab-application
        image: clementmps/ettenheim_emc_lab_application:latest
        resources:      
        requests:        
          memory: "256Mi"        
          cpu: "250m"      
        limits:        
          memory: "512Mi"        
          cpu: "500m" 
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
          - name: PYTHONUNBUFFERED
            value: "1"

---

apiVersion: v1
kind: Service
metadata:
  name: emc-lab-application
  namespace: default
spec:
  type: NodePort
  ports:
  - protocol: TCP
    port: 5000
    targetPort: 5000
    nodePort: 30001
  selector:

    app: emc-lab-application










